{% extends 'usuarios/base.html' %}
{% load static %}
{% block content %}
  <section class="galeria" style="margin-left: 5em">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        {% include 'usuarios/partials/_form-fields.html' %}
        <div class="col-12 text-center">
          <button 
            type="submit" 
            class="btn btn-success col-12" 
            style="padding: top 5px"
          >
            Logar
          </button>
        </div>
      </div>
    </form>
  </section>
{% endblock %}